<!DOCTYPE html>
<html>
<body>
	<head>
		<title>POST Godster</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<!--<link rel="stylesheet" href="bootstrap-table/dist/bootstrap-table.min.css">-->
		<style type="text/css">
		button{
			margin: 10px 0;
		}
		</style>
	</head>
	<div ng-app='' ng-controller="contPost">
		<div class="col-sm-6">
			<h1>AngularJS POST</h1>
			<form>
				<span>Profile Pic</span><input class="btn btn-default btn-sm" type="file" name="file1" onchange="angular.element(this).scope().addi(this)"><br>
				<span>Background Pic</span><input class="btn btn-default btn-sm" type="file" name="file2" onchange="angular.element(this).scope().addo(this)">
			</form>
			<ul>
				<li ng-repeat="file1 in files1"> {{file1.name}}</li>
			</ul>
			<ul>
				<li ng-repeat="file2 in files2"> {{file2.name}}</li>
			</ul>
			<p>
				<button ng-click="artista.crear()" class="btn btn-primary">Crear nuevo Artista</button>
			</p>
			<pre> {{respuesta0}} </pre>
		</div>
		<div class="col-sm-6">
			<h1>AngularJS GET</h1>
			<p>
				<button ng-click="artista.obtener()" class="btn btn-primary">Obtener Lista</button>
			</p>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<th>Id Nodo</th>
				</tr>
				<tr ng-repeat="item in respuesta1.response">
					<td>{{item.name}}</td>
					<td>{{item.node_id}}</td>
				</tr>
			</table>
			<!--<pre>{{	respuesta1 | json}} </pre>-->
		</div>
	</div>
	<script>
	function contPost($scope,$http){
		$scope.artista = {
			url : 'http://54.200.77.121/artist',
			respuesta : "",
			crear : function(){
				var datos = new FormData()
				datos.append('background_image',$scope.files1[0])
				datos.append('profile_image',$scope.files2[0])
				datos.append('genre','01')
				datos.append('name','examen_CarlosOrtiz')

				$http.post($scope.artista.url,datos,
								{
									transformRequest:angular.identity,
									headers:{'Content-Type': undefined}
								}).
				success(function(data, status, headers, config) {
                	$scope.respuesta0 = data
                }).error(function(data, status, headers, config) {
                	$scope.respuesta0 = data
                });
            },
            obtener : function(){
            	$http.get($scope.artista.url).success(function(data){                		
            		$scope.respuesta1 = data
            	})
            },
           
        };
        $scope.addi = function(elm){
        		$scope.files1= elm.files
        		$scope.$apply()
        };
        $scope.addo = function(elm){
        		$scope.files2 = elm.files
        		$scope.$apply()
        };
    }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script src="bootstrap-table/dist/bootstrap-table.min.js"></script>-->
</body>
</html>

