<!DOCTYPE html>
<html>
<body>
	<head>
		<title>POST Godster</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<!--<link rel="stylesheet" href="bootstrap-table/dist/bootstrap-table.min.css">-->
	</head>
	<div ng-app='' ng-controller="contPost">
		<div class="col-sm-6">
			<p><button ng-click="artista.crear()">Crear nuevo Artista</button></p>
			<pre> {{artista.respuesta0}} </pre>
		</div>
		<div class="col-sm-6"><p><button ng-click="artista.obtener()">Obtener Lista</button></p>
			
			<pre>{{artista.respuesta1 | json}} </pre>
		</div>
	</div>
	<script>

	function contPost($scope,$http){
		$scope.artista = {
			url : 'http://54.200.77.121/artist',
			respuesta : "",
			crear : function(){
				var a = $scope.artista
				$http({
					method: "POST",
					url: a.url,
					//headers: {'Content-Type': "application/octet-stream"},
					headers: {'Content-Type': "application/x-www-form-urlencoded"},
					//headers: {'Content-Type': "multipart/form-data"},
					data : {
                        genre : "01", //"lo-fi Jazz",
                        name : "examen2", //"Sculpture"                    
                    	background_image : "@image.jpg",//"http://fodiodatabase.com/image/cover/Skalpel.jpg",
                        profile_image : "@image.jpg",//"http://s.pixogs.com/image/A-150-124865-001.jpg",
                    }        
                }).success(function(data, status, headers, config) {
                    	var a = $scope.artista
                    	a.respuesta0 = data
                }).error(function(data, status, headers, config) {
                    	var a = $scope.artista
                    	a.respuesta0 =  "mal"
                });
            },
            obtener : function(){
               	var a = $scope.artista
               	$http.get(a.url).success(function(data){                		
               		a.respuesta1 = data
               	})
            }
        };
    }

    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script src="bootstrap-table/dist/bootstrap-table.min.js"></script>-->
</body>
</html>

